## Python Workshop 1

Python is one of the world’s most used and most popular programming languages. It’s powerful, versatile, and easy to learn. Python is widely used in various applications, some notable ones:

* Web development
* Data Science
* Data analysis
* Machine learning
* Artificial Intelligence (AI)
* Scripting and tooling

The first thing to know about python are the types of data that you will be working with

Data Types:
* string
* integers
* float
* boolean
* list

## String declarations

In [358]:
# Declare with a single quote
string1 = 'This is a string'

In [359]:
# Declare with a double quote
string2 = "This is another string"

In [361]:
# Declare with triple single quotes
string3 = '''This is a multiline
string'''

# ctrl + shift + minus here ----------

# Declare with triplw double quotes
string4 = """This is another 
    multline
string
"""

# Declare with single quotes containing a double quote
string5 = 'This "string" has a double quote'

# Declare with double quotes containing a single quote
string6 = "This 'string' has a single quote"

# Declare a raw string
# Treats the escape character \ as a literal character
string7 = r'This\string\is\useful\for\reading\files, also, \n <- no new line'

# Declare an f string
string8_1 = 'f'
string8_2 = 'string'
string8 = f'\nThis:\nis an {string8_1} {string8_2}\n'

print(string1)
print(string2)
print()
print(string3)
print()
print(string4)
print()
print(string5)
print()
print(string6)
print()
print(string7)
print(string8)
string1 
string2

This is a string
This is another string

This is a multiline
string

This is another
    multline
string


This "string" has a double quote

This 'string' has a single quote

This\string\is\useful\for\reading\files, also, \n <- no new line

This:
is an f string

'This is another string'

Notice in the example above that only the last line is included in the out statement.

In [362]:
# The print statement allows for the formatting
print('this does create\na new line')

# Returning a string through out does not allow formatting
'this does not create \na new line'

this does create
a new line

'this does not create \na new line'

In [12]:
# type() checks the data type of its input
type(string1)

str

In [13]:
?str

## String Indexing

In [112]:
print(string1)
print(f'String1 has a length of {len(string1)}')

This is a string
String1 has a length of 16

In [88]:
# Another way to declare a string is through casting
# This will be use to easily show indexing

# Call str() on an integer
int_string = str(123456789)
print(int_string)

# Call str() on a float
float_string = str(1.23456789)
print(float_string)

123456789
1.23456789

In [364]:
# Print out the string of integers for comparison
print(int_string)

# Print the first element in the string
print(int_string[0])

# Print the last element in the string
print(int_string[-1])

# Print the first 4 elements in the string
print(int_string[:4])

# Print the final 4 elements in the string
print(int_string[-4:])

# Print each element after the middle element rounded down
# len() gets the length, since it is 9, its midpoint is 4.5, casted into an int will turn it into 4 flat
print(int_string[int(len(int_string)/2):])

# Print each jth element starting at the (i + 1)th element
# int_string[i::j]
# Example: start at the second element and slice each 2nd element 
print(int_string[1::2])

# A string can be reversed using the same logic
print(int_string[::-1])

123456789
1
9
1234
6789
56789
2468
987654321

 ## Useful Built-in String Functions
 
 * string.capitalize()
 * string.startswith()
 * string.endswith()
 * string.upper()
 * string.lower()
 * string.capitalize()

In [365]:
print(string1)

This is a string

In [366]:
# startswith() and endswith()
# Returns a true or false if the checked string starts or ends with the passed argument
print(string1.startswith('T'))
print(string1.endswith('g'))

True
True

In [367]:
# index()
# Returns the index as an int of the first instance that the passed string occurs 
print(string1.index('is a string'))

5

In [368]:
# lower() and upper()
# Returns the string as all uppercase or lowercase
print(string1.lower())
print(string1.upper())

# Goes from left to right
print(string1.upper().lower())
print(string1.lower().upper())

this is a string
THIS IS A STRING
this is a string
THIS IS A STRING

In [369]:
string10 = input('Input "test:" ')
string10 = string10.upper()
string10 == 'TEST'

Input "test:" test

True

In [370]:
print(string1.lower().capitalize())

This is a string

In [371]:
print(string1 == string1.upper())

False

Note: Strings are immutable. When reassigning the value for string10, the it updates the address from which the variable refers. 
String10 moves from referring to the input **"test"** to now **"TEST"** and the orginal **"test"** becomes inaccessible and is garbage collected (removed from memory) by Python.

## String Manipulation
* .join([string1, string2])
* string.split(delimiter)

In [372]:
# Using .join()
# .join() needs a delimiter before the . in .join() and a list for the args .join([])
join1 = ''.join([string1, string2])

# Concatenating using +
join2 = string1 + string2

# Print out both joined strings
print(f'{join1}\n{join2}')

This is a stringThis is another string
This is a stringThis is another string

In [373]:
# .join can be specified with different strings
join1 = ' + '.join([string1, string2])
print(join1)

# Concatenating with the + can also use different strings
join2 = string1 + ' + ' + string2
print(join2)
join2 = f'{join1}\n{join2}'
print('\n'+join2)

This is a string + This is another string
This is a string + This is another string

This is a string + This is another string
This is a string + This is another string

In [374]:
join3 = join1.split(' + ')
print(join3)
join3 = ' / '.join(join3)
print(join3)

['This is a string', 'This is another string']
This is a string / This is another string

In [375]:
# Useful when working with filepaths
path = r'C/Users/Example/Folder/File.file'

# Split the path into a list of the contents that were delimited by /
file_bits = path.split('/')

# Retrieves and assigns folder name to variable
folder = file_bits[-2]
print(folder)

Folder

## Int

In [376]:
# Integer declaration
int1 = 1; print(int1)
int2 = 2; print(int2)

1
2

In [377]:
int1, int2 = int2, int1
print(int1)
print(int2)

2
1

In [378]:
# Converting from a string
int(int_string)

123456789

In [379]:
# Converting from a float
# Note that it rounds down
print(int(3.14)) # 3
print(int(2.71828)) # 2

3
2

In [380]:
# Int division can result in a float
10 / 3

3.3333333333333335

In [381]:
# Floor divsion is supported
10 // 3

3

In [382]:
# In fact, it will result in a float with regular division
divided1 = 9 / 3 
print(f'{divided1}, {type(divided1)}')

# And as an int in if through floor divsion provided it is divisble by the denominator
divided2  = 9 // 3 
print(divided2, type(divided2))

3.0, <class 'float'>
3 <class 'int'>

In [383]:
# Modulo operator is supported
10 % 3

1

In [384]:
example = (235/8673).as_integer_ratio()
print(example)
example[0] / example[1]

(1952442591826711, 72057594037927936)

0.027095583996310388

## Float

In [385]:
# Float declaration
float1 = 1.0
float2 = 2.0

In [386]:
# Declare from a string
float3 = float('3.14')
float3

3.14

In [387]:
# Declare from an int
float4 = float(3)
float4

3.0

In [388]:
# Check if a float could be read as an int
float4.is_integer()

True

In [389]:
(7.49348/9.687934).as_integer_ratio()

(3483470648717081, 4503599627370496)

## Boolean

In [390]:
# Can declare a boolean value from 0 or 1
print(bool(1))
print(bool(0))

True
False

In [391]:
# Anything besides 0 is true
print(bool(5))
print(bool(-5))

True
True

In [392]:
# Check is something is a certain instance
print(isinstance(5, int))

# Check if something is a subclass
print(issubclass(bool, int))

True
True

In [393]:
# Check if two things are equal
print(5 == 5)
print(5 != 4)
print(5 >= 5)
print(5 >= 4)
print(5 <= 5)
print(5 <= 4)

True
True
True
True
True
False

In [394]:
# Can also do this with strings
print('something' == 'something')
print('something' == 'something else')

True
False

In [395]:
# Remember that strings are compare left to right in lexilogical order
# The sooner it appears in the alphabet, the lower its value
print('azzzzzz' > 'baaaaaaa')

False

In [396]:
# Boolean Logic
print(True and True) # 1 * 1 = 1
print(True and False) # 1 * 0 = 0
print(False and False) # 0 * 0 = 0

True
False
False

In [397]:
# Boolean Logic
print(True or True) # 1 + 1 = 1
print(True or False) # 1 + 0 = 1
print(False or False) # 0 + 0 = 0

True
True
False

In [398]:
print(not(True and False)) # NOT 1 * 0 = NOT 0 = 1

True

In [399]:
x = [1, 2, 3]
y = x
x is y  # True

True

In [400]:
x = [1, 2, 3]
y = [1, 2, 3]
x is not y  # True (because they are different objects in memory)

True

In [401]:
# Detect if something is inside of another
print(3 in [1, 2, 3])  # True
print(4 not in [1, 2, 3])  # True

True
True

In [402]:
# Access whether or not a list has elements
print(bool([]))     # False
print(bool([1, 2])) # True

False
True

In [404]:
# Return true if all elements are True
all([1, 2, 3])

True

In [405]:
# Return false if one element is not true
all([0, 1])

False

In [406]:
# Return true if at least one element is true
any([0, 1])

True

In [407]:
# Return false if no elements are true
any([0, 0])

False

## Lists

In [414]:
# Declare a list with values
# The list can hold any types of values
list1 = [1, 2.0, 'crystal', False]
print(list1)

# Check the list's type
print("list1 is of type:", type(list1))

# Check the individual type for each element in the list
for i in list1:
    print(f"list1 index {list1.index(i)} is {type(i)}")

[1, 2.0, 'crystal', False]
list1 is of type: <class 'list'>
list1 index 0 is <class 'int'>
list1 index 1 is <class 'float'>
list1 index 2 is <class 'str'>
list1 index 3 is <class 'bool'>

In [415]:
# You can repeat a list
repeated_list1 = list1*3
print(repeated_list1)

[1, 2.0, 'crystal', False, 1, 2.0, 'crystal', False, 1, 2.0, 'crystal', False]

In [416]:
# Adding two lists
add_list1 = ['a', 'b', 1, True]
add_list2 = ['c', 'd', 4, 6]

# Add the list
add_list1 += add_list2

# Show the list
add_list1

['a', 'b', 1, True, 'c', 'd', 4, 6]

In [417]:
# Add to the end of a list
list1.append('blueberry')
print(list1)

[1, 2.0, 'crystal', False, 'blueberry']

In [418]:
# Remove from the list and return based on an index
list1.pop(2)

'crystal'

In [419]:
# Remove and return the last item from a list
list1.pop()

'blueberry'

In [420]:
print(list1)

[1, 2.0, False]

In [421]:
# Insert an element at a specified index
list1.insert(2, 'crystal')
list1

[1, 2.0, 'crystal', False]

In [422]:
# Remove the first instance of an element by name from a list
list1.remove(2.0)
print(list1)

[1, 'crystal', False]

In [423]:
# Example of something iterable`
list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# Take from the front and end elements from list3 until there is nothing left
# Extend list4 in each loop
list4 = []
while list3:
    front = list3.pop(0)
    end = list3.pop(-1)
    
    list4.extend([front, end])
    
list4

[1, 12, 2, 11, 3, 10, 4, 9, 5, 8, 6, 7]

In [424]:
import random as rand

# Repeat the list 
list2 = []

for _ in range(10):
    list2.insert(rand.randint(0, len(list2)), 'NUMBER')
    for _ in range(10):
        list2.append(rand.randint(0, 5))
        
print(f'{list2},\n\n{len(list2)}\n')

while 'NUMBER' in list2:
    list2.remove('NUMBER')
    
print(f'{list2},\n\n{len(list2)}')

['NUMBER', 'NUMBER', 'NUMBER', 2, 2, 1, 3, 3, 0, 5, 'NUMBER', 0, 3, 5, 1, 'NUMBER', 5, 4, 5, 3, 3, 'NUMBER', 1, 0, 'NUMBER', 0, 0, 1, 0, 3, 'NUMBER', 5, 0, 1, 0, 0, 2, 3, 0, 2, 5, 1, 5, 3, 5, 2, 1, 'NUMBER', 4, 0, 1, 2, 2, 4, 3, 0, 2, 3, 5, 2, 5, 4, 1, 1, 5, 0, 2, 2, 1, 4, 5, 5, 1, 'NUMBER', 0, 3, 3, 5, 2, 2, 1, 0, 3, 0, 4, 3, 2, 3, 2, 0, 0, 0, 3, 0, 4, 5, 0, 4, 3, 0, 4, 1, 3, 1, 3, 5, 4, 3, 5, 1],

110

[2, 2, 1, 3, 3, 0, 5, 0, 3, 5, 1, 5, 4, 5, 3, 3, 1, 0, 0, 0, 1, 0, 3, 5, 0, 1, 0, 0, 2, 3, 0, 2, 5, 1, 5, 3, 5, 2, 1, 4, 0, 1, 2, 2, 4, 3, 0, 2, 3, 5, 2, 5, 4, 1, 1, 5, 0, 2, 2, 1, 4, 5, 5, 1, 0, 3, 3, 5, 2, 2, 1, 0, 3, 0, 4, 3, 2, 3, 2, 0, 0, 0, 3, 0, 4, 5, 0, 4, 3, 0, 4, 1, 3, 1, 3, 5, 4, 3, 5, 1],

100

In [425]:
# Sort in ascending order
list2.sort()
print(list2)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [426]:
list2.sort(reverse=True)
print(list2)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [427]:
list2_copy = list2.copy()
for _ in range(25):
    curr = rand.randint(0, len(list2_copy))
    coef = rand.randint(-1, 1)
    list2_copy.insert(curr, curr*coef)
    
print(list2)

list2_sorted = sorted(list2_copy, key=abs)
print(list2_sorted)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 10, 10, -18, 20, 36, -40, -46, -57, 69, -71, -71, 73, -95, 105, -111]

In [428]:
list2_sorted.clear()
print(list2_sorted)

[]

In [429]:
lista = ['apple', 'banana', 'cherry', 'duran']

lista.reverse()
lista

['duran', 'cherry', 'banana', 'apple']

In [430]:
lista.sort()
lista.sort(key = len)
lista

['apple', 'duran', 'banana', 'cherry']

In [431]:
lista.count('apple')

1